<h1>Pictures List</h1>

<br>
<%= link_to 'New Picture', new_admin_picture_path, class: "btn btn-large" %>
<br>

<div class="list">
	<% @pictures.each do |picture| %>
	<article>
		<%= render partial: "info", locals: { picture: picture } %>
		<div class="actions">
      <%= link_to 'Show', admin_picture_path(picture), class: "btn" %>
      <%= link_to 'Edit', edit_admin_picture_path(picture), class: "btn" %>
      <%= link_to 'Destroy', admin_picture_path(picture), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn" %>
    </div>
	</article>
	<% end %>
</div>
